/* BASE */

@import url('https://fonts.googleapis.com/css?family=Changa+One');

h1, h2{
	color: #E73438;
	font-family: 'Changa One', cursive;
	font-weight: normal;
}

body { 
	background: #fff url('../img/bg.png') 0 0 repeat;
	color: #000000; 
	text-decoration: none; 
	font-family: Verdana; 
	font-size: 100%; 
}
.wrapper{
	margin: 0 auto;
	width:100%;
	max-width: 1000px;
	background: #fff;
	padding:0;
}
header{
	background: transparent url('../img/logo2.svg') 5% 1em no-repeat;
	background-size: auto 100px;
	position: relative;
}

header h1{
	padding:35px 165px;
	margin: 0;
	font-size: 3.6em;
	text-transform:uppercase;
}

header > div{
	position: absolute;
	top:35px;
	right:5%;
}

main{
	min-height: 5em;
	height: 100%;
	position: relative;
	padding: 0 5% 4em 5%;
}

nav{
	width:100%;
	min-height: 2em;
	margin-top: 1em;
	background: olivedrab;
	position: relative;
}
nav ul{
	width:100%;
	margin:0 auto;
	padding-left: 0;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin-right: 1em;
	min-height: 2.1em;
	width: 100%;
	position: relative;
}

@media (min-width: 600px) {

	nav ul{
		text-align: center;
	}
	nav ul li{
		width: auto;
	}
}

nav a{
	text-decoration: none;
	color:white;	
	padding: .4em .6em;
	display: inline-block;
}
nav a:hover{
	text-decoration: underline;
}

table{
	width:100%;
	padding: 1em;
	margin-top: 2em;
	border:1px solid lightgray;
	border-collapse: collapse;
}

tr, th, td{
	border:1px solid lightgray;
	border-collapse: collapse;
	padding: .5em;
}

th{
	text-align: left;
}

form{
	position: relative;
	width: 100%;
	clear: both;
}

input[type=submit]{
	display: block;
	position: relative;
	margin-top: 1em;
	float: right;
	padding: .3em .6em .4em .6em;
	border-radius: 6px;
	background: olivedrab;
	color: white;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	border:none;
}
input[type=submit]:hover, input[type=submit]:focus{
	background: firebrick;
	cursor: pointer;
}

.pizzas{
	min-height: 45em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pizzas section{
	flex: 0 1 250px;
	min-height: 18em;
	padding: 1em;
	margin: 0 .5em;
	margin-bottom: 1em;
	border: 1px solid lightgray;
	position: relative;
}

.pizzas section img{
	width:120px;
	padding-left: 25%;
}
.pizzas section p{
	display: inline-block;
	float: left;
	width: 75%;
	margin-top: 0;
}

.pizzas section span.prijs{ 
	display: inline-block;
	float: right;
	width: 20%;
}

.pizzas section a.bestel{
	display: block;
	position: absolute;
	bottom: 1em;
	right: 1em;
	width: auto;
	padding: .3em .6em .4em .6em;
	border-radius: 6px;
	background: olivedrab;
	color: white;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	border:none;
}
.pizzas section a.bestel:hover{
	background: firebrick;
	cursor: pointer;
}

footer {
	clear: both;
	background: #fff;
	width: 100%;
	max-width: 1000px;
	height: 50px;
	padding-top: 2em;
	margin: 0 auto;
	text-align: center;
	font-size: .8em;
	border-top: 1px solid olivedrab;
}