/* BASE */
body { 
	background-color: #ffffff; 
	background: #fff url('../img/bg.png') 0 0 repeat;
	color: #000000; 
	text-decoration: none; 
	font-family: Verdana; 
	font-size: 11px; 
}
header{
	background: #fff url('../img/basicpizzalogo.png') top center no-repeat;
	padding-top: 80px;
}

header,main{
	margin: 0 auto;
	width:100%;
	max-width: 1000px;
}

main{
	min-height: 5em;
}

nav{
	width:800px;
	margin:0 auto;
}
nav ul li{
	display: inline-block;
	list-style: none;
}

table{
	width:90%;
	padding: 1em;
	border: none;
	margin:0 auto;
}

footer {
	width:800px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}

a:link { color: #fb0f4e; text-decoration: underline; font-family: Verdana; font-size: 11px; }
a:visited { color: #fb0f4e; text-decoration: underline; font-family: Verdana; font-size: 11px; }

/* BORDERS */
.top { border-top:thin solid; border-color:red; border-width: 1px; }
.bottom { border-bottom:thin solid; border-color:red; border-width: 1px; }
.right { border-right:thin solid; border-color:red; border-width: 1px; }
.left { border-left:thin solid; border-color:red; border-width: 1px; }
.round { 
	border-top: thin solid; 
	border-bottom: thin solid; 
	border-right: thin solid; 
	border-left: thin solid; 
	border-color: red; 
	border-width: 1px; 
	border-radius: 15px;
}


/* TEXT */
.makers{ background-color: #ffffff; color: #000000; text-decoration: none; font-family: Verdana; font-size: 8.5px}
.false_warning { color: red; font-family: Verdana, Arial, Helvetica; text-decoration: none; font-size: 8pt; }
.true_warning { color: green; font-family: Verdana, Arial, Helvetica; text-decoration: none; font-size: 8pt; }

.custom_bgcollor { background-color: yellow;}
.custom_bgcollor_green { background-color: green;}
.custom_bgcollor_red { background-color: red;}



/* bgcolor="#ffeb9c" table */ 
/* bgcolor="#ffc7ce" red */
/* bgcolor="#c6efce" green */
/* class="custom_bgcollor" */